@use "src/assets/fonts/roboto/roboto.css";
@use "src/assets/colors/colors.scss";
$custom-colors: colors.$custom-colors;
$family-primary: "Roboto Flex";
$color-primary: map-get($custom-colors, "Cobalt");
@use "../node_modules/bulma/bulma.sass";

html,
body {
  font-family: $family-primary;
}

.radar_title {
  @extend .title;
  @extend .has-text-weight-semibold;
  @extend .is-size-1;
  fill: $color-primary;
}

.radar_footer {
  @extend .subtitle;
  @extend .is-size-6;
}

.radar_stage_ring {
  @extend .title;
  @extend .is-size-2;
}

.radar_bubble_text {
  fill: white;
  @extend .has-text-centered;
}
