@use "src/assets/fonts/roboto/roboto.css";
@use "src/assets/colors/colors.scss";
@use "../node_modules/uikit/dist/css/uikit.min.css";

$custom-colors: colors.$custom-colors;
$family-primary: "Roboto Flex";
$color-primary: map-get($custom-colors, "Cobalt");

html,
body {
  font-family: $family-primary;
}

.radar_title {
  fill: $color-primary;
}

.radar_footer {
}

.radar_stage_ring {
}

.radar_bubble_text {
  fill: white;
}
